@model Employee

@{
    ViewData["Title"] = "ITI Details";
}

<h1>Details</h1>

<partial name="_EmpCard"/>

<a href="/Employee/Index">BAck To List</a>

<a href="/Employee/Edit/@Model.Id">Edit</a>


@* 
<h2 style="color:@ViewBag.Color">@Model.Name</h2>
<h1>@ViewData["Msg"]</h1>
<h2>@(int.Parse(ViewData["Temp"].ToString())-10)</h2>

<h2>@(ViewBag.Temp - 10)</h2>


<select class="form form-control">
    @foreach (var item in (List<string>)ViewData["brch"])
    {
        <option>@item</option>
    }
</select>




<select class="form form-control">
    @foreach (var item in ViewBag.brch)
    {
        <option>@item</option>
    }
</select> *@